body {
    background-image: url(santa.jpeg);
    background-size: cover;
    background-position: center;
    background-color: #C22828;
    background-repeat: no-repeat;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



/* snow animation */


#particles-js{ 
   
    position: absolute;
    z-index: -1;
    width: 98vw;
    height: 420vh;
    background-repeat: repeat;
    background-size: cover;
    
} 




.js-count-particles{ 
    font-size: 1.1em; 
    } 
    
#stats, .count-particles { 
    -webkit-user-select: none; 
    margin-top: 5px; 
    margin-left: 5px; 
    } 

#stats{ 
    border-radius: 3px 3px 0 0; 
    overflow: hidden; 
} 
    
.count-particles{ 
    border-radius: 0 0 3px 3px; 
}

/* CSS common */

.heading {
    
    display: flex;
    justify-content: center;
    margin:30px;

}

h1 {
    border: 2px solid black;
    font-size: 60px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    font-family: "Montserrat", serif;
}

h2 {
    border: none;
    font-size: 40px;
    background-color: rgba(251, 248, 249, 0.9);
    padding: 20px;
    font-family: "Montserrat", serif;
}



.container1 {
    
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    
}

.christmas {
    background-color: rgba(251,248,249,0.82);
    height: 300px;
    width: 200px;
    border: 3px solid black;
}

.block {
    display: flex;
    flex-direction: column;
    align-items:center;

}

h3 {
    font-size: 30px;
    font-family: "Montserrat", serif;
}

h4 {
    font-family: "Montserrat", serif;
    font-size: 40px;
}

.red {
    font-size: 60px;
    border: none;
    color: red;
    font-family: "Montserrat", serif;
}

.img {
    width:150px;
    height: 150px;
}

#myButton {
    
    border: none;
    margin: 30px;
    align-self: flex-start;   
}


/* weather */

#container2 {
    
    margin-top: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(233, 200, 200, 0.3), rgba(0, 0, 0, 0.6));
    font-family: "Montserrat", serif;
    width:30vw;
    height: auto;

}

#inputCont {
    display: flex;
    justify-content: center;
    margin-bottom:20px;
    
}

#input1, #input2 {
    background-color: white;
    border-radius: 20px;
    border:3px solid #b50808;
    padding: 25px;
    font-size: 20px;
    animation: pulse 1.5s infinite ease-in-out;
}

    

@keyframes pulse {
  0% {
    transform: scale(1);
    
  }
  50% {
    transform: scale(1.03);
    
  }
  100% {
    transform: scale(1);
  }
}



#whenWhere {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#city {
    color:white;
    font-size: 45px;
}

#date {
    color:white;
    font-size: 24px;
}


#now {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#temperature {
    color:#fff;
    font-size: 110px;
    text-shadow: 5px 10px black;
    margin:0;
}

#feelsLike {
    color:white;
    font-size: 30px;
}

#conditions {
    color:white;
    font-size: 32px;
    font-style: italic;
}

#variation {
    color:white;
    font-size: 26px;
}


/* рецепты */

.recipies {
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.recipe {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 10px;
    padding:20px;
}

a {
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    font-size: 42px;
    text-align: center;
    
}



@media all and (max-width: 1200px) {
    
    body {
        height: 60vh;
    }
    #container2 {
    
        margin-top: 15%;
        width: 70%;
    }

    #particles-js{ 
   
        height: 370vh;
    }

    
}

@media all and (max-width: 820px) {

    

    .christmas {
        width:150px;
        height: 100px;
        margin:10px;
        border:none;
        background-color: #fff;
        
    }

    h3, h4 {
        font-size: 30px;
        
    }

   h3 {
    color:white;
    background-color: #b50808;
    padding:20px;
    margin:10px;
    font-size: 20px;
   }

   #container2 {
    
        margin-top: 25%;
   }
    
   h1 {
    font-size: 40px;
   }

   #myButton {
    margin:10px 0px 20px 30px;
   }

   .recipe {
    margin: 0;
    width: 500px;
    justify-content: center;
   }



   p {
    font-size: 35px;
   }

   #particles-js{ 
   
        height: 200vh;
    }
    
}

@media all and (max-width: 500px) {

    h1, h2 {
        font-size: 20px;
    }

    .heading {
        width:90%;
        margin:15px;
    }


    .recipe {
        
        width: 300px;
    }


    img {
        width:250px;
        height: 350px;
        
    }

    h3, h4 {
        font-size: 20px;
        padding:none;
        text-transform: lowercase;
        
    }

    .christmas{
        flex-direction: column;
        height: fit-content;
        
    }

    
    #container2 {
        width:90%;
    }


    #container3 {
        font-size: 15px;
    }

    #particles-js{ 
   
        height: 220vh;
    }

    .img {
        width:70px;
        height: 90px;
    }

    #input1 {
        font-size: 15px;
    }

    #city {
        font-size: 30px;
    }

    #temperature {
        font-size: 60px;
    }

    p {
        font-size: 20px;
    }

}

